/** A css file */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

h4 {
    font-size: 1.3rem;
}

.btn-margin-left {
    margin-left: 5px;
}
.btn-margin-right {
    margin-right: 5px;
}

.slider-image {
    height: 600px;
    object-fit: cover;
}

.ptb-50 {
    padding-top: 50px;
    padding-bottom: 20px;
}

.ptb-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.ptb-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.text-divider {
    margin: 2em 0;
    line-height: 0;
    text-align: center;
    font-weight: 500;
    color: #9da9b9;
}
.text-divider span{background-color: #fff; padding: 1em;}
.text-divider:before{ content: " "; display: block; border-top: 1px solid #e1e7ec;}

.divider {
    border-top: 1px solid #e1e7ec;
    padding: 1em;
}

.widget-title {
    margin-bottom: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid #e1e7ec;
    color: #9da9b9;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.product {
    display: table;
    margin-bottom: 18px;
}

.product .product-thumb {
    width: 62px;
    margin-right: 12px;
}

.product .product-content {
    display: table-cell;
    vertical-align: middle;
}

.product .product-title {
    margin-bottom: 0;
    font-size: 14px;
}

.product .product-meta {
    color: #606975;
    font-size: 12px;
}

.margin_left10 {
    margin-left:10px;
}

.bg-white {
    background-color:#fff;
}

.size-16 {
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
}

/* Footer */
section {
    padding: 40px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.form-control-custom { border-radius: 0px; font-size: 14px; width: 100%; height: 52px; padding: 16px 20px; line-height: 1.42857143; border: 1px solid #d6dadc; background-color: #fff; letter-spacing: 0px; margin-bottom: 10px; -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0); box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0); -webkit-appearance: none; color: #011c28; }
.form-control-custom:focus { color: #011c28; outline: 0; box-shadow: 0 0 0 0.0rem rgb(255, 255, 255); border-color: #c9cdd0; background-color: #f0f4f6; }

.form-control-custom-two {
    border-radius: 0px;
    border-color: #c9cdd0;
    background-color: #f0f4f6;
}

.form-control-textarea { border-radius: 0px; font-size: 14px; width: 100%; height: 150px; padding: 16px 20px; line-height: 1.42857143; border: 1px solid #d6dadc; background-color: #fff; letter-spacing: 0px; margin-bottom: 10px; -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0); box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0); -webkit-appearance: none; color: #011c28; }

.form-control-multiselect {
    border-radius: 0px;
    font-size: 14px;
    width: 100%;
    height: 90px;
    padding: 5px 10px;
    line-height: 1.42857143;
    border: 1px solid #d6dadc;
    background-color: #fff;
    letter-spacing: 0px;
    margin-bottom: 10px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    -webkit-appearance: none;
    color: #011c28;
}

.btn-send {
    color: #fff;
    border-radius: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-top: 5px;
    line-height: 16px;
}

.btn-send:hover {
    color: #fff;
    background: #333;
    border-color: #333;
    box-shadow: none;
}

.btn-more {
    color: #333;
    border-radius: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-top: 5px;
    line-height: 16px;
}

.btn-more:hover {
    color: #fff;
    background: #333;
    border-color: #333;
    box-shadow: none;
}

.btn-user {
    color: #333;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #ccc;
    margin-top: 5px;
    padding: .375rem .75rem;
    font-size: 0.8rem;
    line-height: 1.5;
}

.btn-user:hover {
    color: #fff;
    background: #333;
    border-color: #333;
    box-shadow: none;
}

.no-border {
    border-radius: 0;
}

.footer { background-color: #327890; margin-top: 30px; padding-top: 50px; color: #c9cacb; font-weight: 400; font-size: 15px; }
.footer-line { border-color: #152e3d; }
.footer-widget { padding-bottom: 50px; }
.footer-title { font-size: 24px; font-weight: 500; margin-bottom: 44px; color: #fff; }
.footer-widget ul li a { text-transform: capitalize; font-size: 17px; color: #c9cacb; display: block; font-weight: 600; }
.footer-widget ul li a:hover { color: #fff; }
.newsletter-form { padding-top: 15px; }
.newsletter-form .form-control { background-color: #1e2e38; border-color: #1e2e38; }
.newsletter-form .form-control:focus { color: #fff; }

.footer-copyright { font-size: 14px; padding: 14px 0px; font-weight: 500; background-color: transparent; border-top: 1px solid #152e3d; color: #c9cacb; line-height: 1.50; }

@media (max-width:767px){
    .pd-top:not(:first-child) {
        padding-top: 20px;
    }

    .ptb-50 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .ptb-20 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .ptb-10 {
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .slider-image {
        height: 400px;
        object-fit: cover;
    }
}
